body { 
	margin: 0;
	background: #666666;
    font-family: 'Roboto';

	
}
header{
	background: #549BB4;	
}
header::after {
	content: '';
	display: table;
	clear: both;
}
nav {
	float: right;
}
nav ul {
	margin: 0;
	padding 0;
	list-style: none;
}
nav li{
	display: inline-block;
	margin-left: 90px;
	padding-top: 28px;
	}
	
nav a{
		color:#555;
		text-decoration: none;
		text-transfomr: uppercase;
    	font-family: 'Roboto', sans-serif;
		font-size: 20px;
	}
nav a:hover {
		color: black;

	}
.container {
	width: 80%;
	margin: 0 auto;
	}	
.logo {
	float: left;
}